@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h1>
            --------------
        </h1>
        <h2>
            Hello, Welcome to Sample Page - Version - 1.1
        </h2>
    </div>

</div>
