@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h1>
            Hello, Welcome to Sample Page
        </h1>
        <h2>
            Version - 1.0
        </h2>
    </div>

</div>
